body, p, address, ul, th {
  font-family: arial, helvetica, sans-serif;
}

body {
  background: white;
  margin: 5% 10%;
}

address {
  font-size: smaller;
  font-style: normal;
}

ul {
  list-style: url(Bullet.gif) square;
}

:link {
  color: red;
}

P.menu {
  font-size: smaller;
  text-align: center;
}

.right {
  text-align: right;
}

img {
  border: 0;
}

table {
  width: 100%;
}

table.borderless {
  border: 0;
}

td.top, th.top {
  vertical-align: top;
}

td.half, th.half {
  width: 50%;
}
