body {
  color: #ffffff;
  background-image: url("/BevFox/images/Backgrd.gif");
}

BODY, P, ADDRESS, TABLE, TR, TD {
  font-family: arial, helvetica, sans-serif;
}

ADDRESS {
  font-size: smaller;
}

.menu {
  font-size: smaller;
}

a:link {
  color: #FFFFCC
}

a:visited {
  color: #CCCC00;
}

a:active {
  color: #ffff00;
}

H1, H2 {
  color: #FFFFCC;
  text-align: center;
}

.wide {
  width: 100%;
}

td {
  vertical-align: top;
}

.quarter {
  width: 25%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.centre {
  text-align: center;
}
